<% if @inquiry.confirm.blank? %>
  <p><%= t("views.inquiries.create_message_html") %></p>
<% else %>
  <p><%= t("views.inquiries.confirm_message_html") %></p>
<% end %>

    <%= form_for @inquiry, :html => { :class => "form-horizontal inquiry" } do |f| %>

    <% if @inquiry.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @inquiry.errors.count %> <%= t("errors.messages.has_errors") %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @inquiry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :confirm %>

  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
    	   <%= f.text_field :name, :class => 'form-control',:placeholder => t("views.inquiries.placeholder.name") %>
    	 <% else %>
    	 <p class="form-control-static"><%= @inquiry[:name] %></p>
    	   <%= f.hidden_field :name %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :zip, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
           <%= f.text_field :zip, :class => 'form-control' ,"onKeyUp" => "AjaxZip3.zip2addr(this,'','inquiry[prefecture]','inquiry[address1]')",:placeholder => '1234567' %>
    	 <% else %>
    	   <p class="form-control-static"><%= @inquiry[:zip] %></p>
    	   <%= f.hidden_field :zip %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:zip]) %>
  </div>
  <div class="form-group">
    <%= f.label :prefecture, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
    	   <%= f.collection_select :prefecture,  JpPrefecture::Prefecture.all, :code, :name, {prompt: t("views.inquiries.placeholder.prefecture")}, {class: "form-control"} %>
    	 <% else %>
    	   <p class="form-control-static"><%= @inquiry[:prefecture] %></p>
    	   <%= f.hidden_field :prefecture %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:prefecture]) %>
  </div>
  <div class="form-group">
    <%= f.label :address1, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
    	   <%= f.text_field :address1, :class => 'form-control',:placeholder => t("views.inquiries.placeholder.address1") %>
    	 <% else %>
    	   <p class="form-control-static"><%= @inquiry[:address1] %></p>
    	   <%= f.hidden_field :address1 %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:address1]) %>
  </div>
  <div class="form-group">
    <%= f.label :address2, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
    	   <%= f.text_field :address2, :class => 'form-control' %>
    	 <% else %>
    	   <p class="form-control-static"><%= @inquiry[:address2] %></p>
    	   <%= f.hidden_field :address2 %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:address2]) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
    	   <%= f.text_field :email, :class => 'form-control',:placeholder => 'example@example.com' %>
    	 <% else %>
    	   <p class="form-control-static"><%= @inquiry[:email] %></p>
    	   <%= f.hidden_field :email %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	 <% if @inquiry.confirm.blank? %>
    	   <%= f.text_area :content, :class => 'form-control', :size => "20x10",:placeholder => t("views.inquiries.placeholder.content") %>
    	 <% else %>
    	   <p class="form-control-static"><%= @inquiry[:content] %></p>
    	   <%= f.hidden_field :content %>
    	 <% end %>
    </div>
    <%= error_span(@inquiry[:content]) %>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
  <% if @inquiry.confirm.blank? %>
    <%= f.submit t('helpers.submit.full_confirm'), :class => 'btn btn-primary' %>
  <% else %>
    <%= f.submit t('helpers.submit.create'), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            inquiries_path, :class => 'btn btn-default' %>
  <% end %>
    </div>
  </div>
<% end %>
